body {
  background-color: #FAF8EF; }

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 84pt;
  text-align: center;
  color: RGB(203, 76, 87);
  margin-top: 0;
  margin-bottom: 0; }

a {
  color: inherit; }
  a :hover {
    color: #EDE0C9;
    text-decoration: none; }
  a :visited {
    color: inherit;
    text-decoration: none; }

.btn-group-vertical {
  margin-left: 43%; }

.other_btn {
  margin-top: 10%;
  border: 10px solid transparent;
  padding: 10%;
  background-color: #eee; }

.login {
  background-color: #eee;
  padding: 40px; }

.login-form {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  background-color: #eee;
  width: 100%; }

/*# sourceMappingURL=global_styles.css.map */



/*# sourceMappingURL=global_variables.css.map */

.info {
  margin: 0 auto;
  width: 1050px;
  display: block; }
  .info__group {
    font-size: 12pt; }
    .info__group__helper {
      display: inline-block;
      margin-right: 10px;
      width: 100px;
      font-weight: bold; }
    .info__group__value {
      display: inline;
      font-style: italic; }

/*# sourceMappingURL=info.css.map */

/*** Login ***/
.login__form__inputgroup {
  background-color: inherit;
  text-align: center; }
  .login__form__inputgroup__submitbtn {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.8em 1em -webkit-calc(.8em + 3px);
    padding: 0.8em 1em calc(.8em + 3px);
    border-radius: 3px;
    -webkit-transition: 0.2s;
            transition: 0.2s;
    max-width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    padding: 10px;
    background: #40c781; }
    .login__form__inputgroup__submitbtn:hover {
      background: #e85f4c; }
  .login__form__inputgroup__backbtn {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 0.8em 1em -webkit-calc(.8em + 3px);
    padding: 0.8em 1em calc(.8em + 3px);
    border-radius: 3px;
    -webkit-transition: 0.2s;
            transition: 0.2s;
    max-width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    padding: 10px;
    background: #d44b38; }
    .login__form__inputgroup__backbtn:hover {
      background: #e85f4c; }
  .login__form__inputgroup__line__input_valid {
    box-shadow: 0 0 4px 2px #40c781; }
  .login__form__inputgroup__line__input_invalid {
    box-shadow: 0 0 4px 2px #d44b38; }

/*# sourceMappingURL=login.css.map */

.menu__btn {
  border-radius: 100px;
  box-shadow: 0px 0px 5px #666666;
  font-family: 'Pacifico';
  color: RGB(78, 93, 105);
  font-size: 24pt;
  height: 60px;
  background: #EDE0C9;
  text-align: center;
  text-decoration: none;
  max-width: 50%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  display: block;
  padding: 10px; }
.menu__btn:hover {
  background: RGB(143, 122, 102);
  color: #EDE0C9;
  text-decoration: none; }
  .menu__btn:hover a {
    color: #EDE0C9;
    text-decoration: none; }

/*# sourceMappingURL=menu.css.map */

/*** Userpage ***/
.userpage {
  display: block;
  margin: 0 auto;
  width: 200px; }
  .userpage__row .glyphicon {
    margin: 0 0.5em; }
  .userpage__row__label {
    display: inline;
    font-weight: bold;
    margin-right: 1em; }
  .userpage__row__content {
    display: inline; }
  .userpage__row__table {
    display: table;
    border: 1px solid black;
    border-collapse: collapse; }
    .userpage__row__table__row {
      border: 1px solid black;
      display: table-row; }
      .userpage__row__table__row_header {
        font-weight: bold; }
      .userpage__row__table__row__col {
        padding: 2px;
        border: 1px solid black;
        display: table-cell; }

/*# sourceMappingURL=userpage.css.map */

/*** Userpanel ***/
.userpanel {
  height: 60px;
  background-color: #EDE0C9;
  vertical-align: middle; }
  .userpanel__userinfo {
    background-color: RGB(143, 122, 102);
    display: inline-block;
    height: 100%;
    padding: 2px 10px; }
    .userpanel__userinfo__name {
      display: inline-block;
      margin: 5px;
      height: 40px;
      padding: 0px 5px;
      border-right: 1px solid #eee;
      color: #faf8ef;
      vertical-align: middle;
      text-decoration: underline; }
    .userpanel__userinfo__picture {
      display: inline-block;
      border: 2px solid RGB(78, 93, 105);
      border-radius: 50%;
      height: 50px;
      width: 50px;
      overflow: hidden;
      vertical-align: middle; }
  .userpanel__btns {
    display: inline-block; }
    .userpanel__btns__btn {
      margin: 5px;
      padding: 5px;
      background-color: #d44b38;
      border: 2px solid #40c781;
      border-radius: 5px;
      box-shadow: 0 0 3px 1px #40c781;
      cursor: pointer;
      font-weight: bold;
      color: #faf8ef; }
      .userpanel__btns__btn:hover {
        background-color: #e85f4c; }
