.btn-group-vertical {
  margin-left: 43%;
}
.other_btn {
  margin-top: 10%;
  border: 10px solid transparent;
  padding: 10%;
  background-color: silver;
}

.login {
  background-color: #eee;
  padding: 40px;
}

.login-form {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  background-color: #eee;
  width: 100%;
}

