.game__row__circle {
    display: inline-block;
    /*height:64.8px;
    width: 64.8px;*/
    margin: 4px;
    border-radius: 50%;
}
.game__row__circle_unselected {
  background: #EDE0C9;
}
.game__row__circle_first {
  background: RGB(78, 93, 105);
}
.game__row__circle_second {
  background: RGB(203, 76, 87);
}