@import 'global_variables.scss';

$first-color: rgb(78, 93, 105);
$second-color: rgb(203, 76, 87);
$free-color: #EDE0C9;

.game {
  &__row {
    &__circle {
      display: inline-block;
      margin: 4px;
      border-radius: 50%;
      &_free {
        background: $free-color;
      }
      &_firstOwned {
        background: $first-color;
      }
      &_secondOwned {
        background: $second-color;
      }
      &_capturedByFirst {
        background: $first-color;
        border: 10px solid black;
        box-shadow: 0 0 0 5px white inset;
      }
      &_capturedBySecond {
        background: $second-color;
        border: 10px solid black;
        box-shadow: 0 0 0 5px white inset;
      }
      &_occupiedByFirst {
        background: lighten($first-color, 20%);
      }
      &_occupiedBySecond {
        background: lighten($second-color, 20%);
      }
    }
  }
}
