$first-color: rgb(78, 93, 105);
$second-color: rgb(203, 76, 87);
$free-color: #EDE0C9;

.game {
  border: 3px solid #EDE0C9;
  border-radius: 8px;
  &__row {
    &__circle {
      display: inline-block;
      margin: 4px;
      border-radius: 50%;
      &_free {
        background: $free-color;
      }
      &_firstOwned {
        background: $first-color;
      }
      &_secondOwned {
        background: $second-color;
      }
      &_capturedByFirst {
        background: $second-color;
        border: 7px solid #666666;
        box-shadow: 0 0 0 5px #FAF8EF inset;
        box-sizing: border-box;
      }
      &_capturedBySecond {
        background: $first-color;
        border: 7px solid #666666;
        box-shadow: 0 0 0 5px #FAF8EF inset;
        box-sizing: border-box;
      }
      &_occupiedByFirst {
        background: lighten($first-color, 10%);
      }
      &_occupiedBySecond {
        background: lighten($second-color, 10%);
      }
    }
  }
}
