/*** Game ***/

$cellsize: 85px;
$cellpadding: 10px;
$rowcount: 10;
$colcount: 10;

.game {
  margin: 0 auto;
  width: ($cellsize+$cellpadding*2)*$colcount;
  height: ($cellsize+$cellpadding)*$rowcount;
  background-color: RGB(250, 248, 239);

  &__row {
    padding: $cellpadding $cellpadding 0 0;
    height: $cellsize;

    &__circle {
      display: inline-block;
      margin: 0 0 0 $cellpadding;
      height: 100%;
      width: $cellsize;
      border-radius: 50%;

      &_unselected {
        background: #EDE0C9;
      }

      &_first {
        background: RGB(78, 93, 105);
      }

      &_second {
        background: RGB(203, 76, 87);
      }
    }
  }
}
