$background: #FAF8EF;
$bright-text-color: RGB(203, 76, 87);

$main-font-size: 14pt;
$header-font-size: 80pt;
$custom-font-style: 'Pacifico';
$text-dark: RGB(78, 93, 105);
$color-dark: RGB(143, 122, 102);
$color-middle: #eee;
$shadow-color: #666666;
$color-light: #EDE0C9;
$color-lightest: #faf8ef;

$color-submit: rgb(64,199,129);
$color-submit-accent: rgb(232,95,76);

$color-decline: rgb(212,75,56);
$color-decline-accent: rgb(232,95,76);

$color-first:  RGB(78, 93, 105);
$color-second: RGB(203, 76, 87);

@mixin standardButton {
  font-size: $main-font-size;

  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  transition: 0.2s;
  max-width: 100px;
  text-align: center;

  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}
