$background: #FAF8EF;
$bright-text-color: RGB(203, 76, 87);
$header-font-size: 84pt;

$text-dark: RGB(78, 93, 105);
$color-dark: RGB(143, 122, 102);
$color-middle: #eee;
$shadow-color: #666666;
$color-light: #EDE0C9;
$color-lightest: #faf8ef;

$color-submit: rgb(64,199,129);
$color-submit-accent: rgb(232,95,76);

$color-decline: rgb(212,75,56);
$color-decline-accent: rgb(232,95,76);

$color-first:  RGB(78, 93, 105);
$color-second: RGB(203, 76, 87);
