$cellsize: 85px;
$cellpadding: 10px;
$rowcount: 10;
$colcount: 10;

.info {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 8px;
  background-color: #EDE0C9;
  border: 3px solid #666666;

  &__group {
    font-size: 12pt;

    &__helper {
      display: inline-block;
      margin-right: 10px;
      width: 100px;
      font-weight: bold;
    }

    &__value {
      display: inline;
      font-style: italic;
    }
  }
}

.info_group__wrapper{
  font-family: 'Pacifico';
  background-color: #FAF8EF;
  border-radius: 8px;
  padding: 5px;

}
