/*** Login ***/

.login {
  &__form {
    &__inputgroup {
      background-color: inherit;
      text-align: center;

      &__submitbtn {
        @include standardButton;
        background: $color-submit;

        &:hover {
          background: $color-submit-accent;
        }
      }

      &__backbtn {
        @include standardButton;
        background: $color-decline;

        &:hover {
          background: $color-decline-accent;
        }
      }

      &__line {
        &__input {
          &_valid {
            box-shadow: 0 0 4px 2px $color-submit;
          }

          &_invalid {
            box-shadow: 0 0 4px 2px $color-decline;
          }
        }
      }
    }
  }
}
