/*** Login ***/

.login {
  &__form {
    margin: 10%;

    &__inputgroup {
      text-align: center;
      &__submitbtn {
        box-shadow: 0px 0px 5px $shadow-color;
        font-family: 'Pacifico';
        color: $text-dark;
        background: $color-light;
        text-align: center;
        text-decoration: none;
        max-width: 50%;
        margin: auto;
        display: block;
        width: 220px;
        border-radius:8px;
        font-size: 19pt;
        height: 50px;
        cursor: pointer;
      }
      &__line {
        &__input {
          height: 35px;
          width: 220px;
          border-radius: 8px;
          &_valid {
            box-shadow: 0 0 4px 2px $color-submit;
            border-radius: 8px;
          }
          &_invalid {
            box-shadow: 0 0 4px 2px $color-decline;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
