@import 'global_variables.scss';

.menu {
  &__btn {
    border-radius: 100px;
    box-shadow: 0px 0px 5px $shadow-color;
    font-family: 'Pacifico';
    color: $text-dark;
    font-size: 24pt;
    height: 60px;
    background: $color-light;
    text-align: center;

    text-decoration: none;

    max-width: 50%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    display: block;
    padding: 10px;
  }

  &__btn:hover {
    background: $color-dark;
    color: $color-light;
    text-decoration: none;
    a {
      color: $color-light;
      text-decoration: none;
    }
  }
}
