.menu {
  &__btn {
    border-radius: 100px;
    box-shadow: 0px 0px 5px $shadow-color;
    font-family: $custom-font-style;
    color: $text-dark;
    font-size: 25pt;
    height: 60px;
    background: $color-light;
    text-align: center;
    text-decoration: none;
    max-width: 50%;
    margin: auto;
    margin-bottom: 30px;
    display: block;
  }

  &__btn:hover {
    background: $color-dark;
    color: $color-light;
    text-decoration: none;
    a {
      color: $color-light;
      text-decoration: none;
    }
  }
}
