/*** Userpanel ***/

.userpanel {
  height: 60px;
  background-color: $color-light;
  vertical-align: middle;

  &__userinfo {
    background-color: $color-dark;
    display: inline-block;
    height:100%;
    padding: 2px 10px;

    &__name {
      display: inline-block;
      margin: 5px;
      height: 40px;
      padding: 0px 5px;
      border-right: 1px solid $color-middle;
      color: $color-lightest;
      vertical-align: middle;
      text-decoration: underline;
    }

    &__picture {
      display: inline-block;
      border: 2px solid $text-dark;
      border-radius: 50%;
      height: 50px;
      width:  50px;
      overflow: hidden;
      vertical-align: middle;
    }
  }

  &__btns {
    display: inline-block;

    &__btn {
      margin: 5px;
      padding: 5px;
      background-color: $color-decline;
      border: 2px solid $color-submit;
      border-radius: 5px;
      box-shadow: 0 0 3px 1px $color-submit;
      cursor: pointer;
      font-weight: bold;
      color: $color-lightest;

      &:hover {
        background-color: $color-decline-accent;
      }
    }
  }
}
