/*** Userpage ***/

.userpage {
  display:block;
  margin: 5% auto;
  width: 200px;

  &__row {
      margin-bottom: 5%;
    .glyphicon {
      margin: 0 0.5em;
    }

    &__label {
      display: inline;
      font-weight: bold;
      margin-right: 1em;
    }

    &__content {
      display: inline;
    }

    &__table {
      display: table;
      border: 1px solid black;
      border-collapse: collapse;

      &__row {
        border: 1px solid black;
        display: table-row;

        &_header {
          font-weight: bold;
        }

        &__col {
          padding: 2px;
          border: 1px solid black;
          display: table-cell;
        }
      }
    }
  }
}
