html, head, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-color: #FAF8EF; }

.gamewrap {
  position: relative; }

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(/fonts/pacifico.woff2) format("woff2"), url(/fonts/pacifico.woff) format("woff"); }
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 80pt;
  text-align: center;
  color: RGB(203, 76, 87);
  margin-top: 0;
  margin-bottom: 0; }

p, a, span, body, table, input, button, a {
  font-family: sans-serif;
  font-size: 14pt; }

a {
  color: inherit; }
  a :hover {
    color: #EDE0C9;
    text-decoration: none; }
  a :visited {
    color: inherit;
    text-decoration: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.login-form {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  background-color: #eee;
  width: 100%; }

#loadwrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: silver;
  opacity: 0.7;
  filter: alpha(Opacity=70); }

.loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  margin: auto;
  text-align: center; }

.game {
  border: 3px solid #EDE0C9;
  border-radius: 8px; }
  .game__row__circle {
    display: inline-block;
    margin: 4px;
    border-radius: 50%; }
    .game__row__circle_free {
      background: #EDE0C9; }
    .game__row__circle_firstOwned {
      background: #4e5d69; }
    .game__row__circle_secondOwned {
      background: #cb4c57; }
    .game__row__circle_capturedByFirst {
      background: #4e5d69;
      border: 10px solid black;
      box-shadow: 0 0 0 5px white inset;
      box-sizing: border-box; }
    .game__row__circle_capturedBySecond {
      background: #cb4c57;
      border: 10px solid black;
      box-shadow: 0 0 0 5px white inset;
      box-sizing: border-box; }
    .game__row__circle_occupiedByFirst {
      background: #7e909f; }
    .game__row__circle_occupiedBySecond {
      background: #e29ba1; }

.info {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 8px;
  background-color: #EDE0C9;
  border: 3px solid #666666; }
  .info__group {
    font-size: 10pt; }
    .info__group__helper {
      display: inline-block;
      margin-right: 5px;
      width: 50px;
      font-weight: bold; }
    .info__group__value {
      display: inline; }

.info_group__wrapper {
  font-family: 'Pacifico';
  background-color: #FAF8EF;
  border-radius: 8px;
  padding: 5px; }

/*** Login ***/
.login__form {
  margin: 5%; }
  .login__form__inputgroup {
    text-align: center; }
    .login__form__inputgroup__submitbtn {
      box-shadow: 0px 0px 5px #666666;
      font-family: 'Pacifico';
      color: RGB(78, 93, 105);
      background: #EDE0C9;
      text-align: center;
      text-decoration: none;
      max-width: 50%;
      margin: auto;
      display: block;
      width: 220px;
      border-radius: 8px;
      font-size: 19pt;
      height: 50px;
      cursor: pointer; }
      .login__form__inputgroup__submitbtn:hover {
        color: RGB(203, 76, 87); }
    .login__form__inputgroup a {
      margin-top: 1%;
      text-decoration: none; }
      .login__form__inputgroup a:hover {
        color: RGB(203, 76, 87); }
    .login__form__inputgroup__line__input {
      height: 35px;
      width: 220px;
      border-radius: 8px; }
      .login__form__inputgroup__line__input_valid {
        box-shadow: 0 0 4px 2px #40c781;
        border-radius: 8px; }
      .login__form__inputgroup__line__input_invalid {
        box-shadow: 0 0 4px 2px #d44b38;
        border-radius: 8px; }

.menu__btn {
  border-radius: 100px;
  box-shadow: 0px 0px 5px #666666;
  font-family: "Pacifico";
  color: RGB(78, 93, 105);
  font-size: 25pt;
  height: 60px;
  background: #EDE0C9;
  text-align: center;
  text-decoration: none;
  max-width: 50%;
  margin: auto;
  margin-bottom: 30px;
  display: block; }
.menu__btn:hover {
  background: RGB(143, 122, 102);
  color: #EDE0C9;
  text-decoration: none; }
  .menu__btn:hover a {
    color: #EDE0C9;
    text-decoration: none; }

/*** Userpage ***/
.userpage {
  display: block;
  margin: 5% auto;
  width: 200px; }
  .userpage__row {
    margin-bottom: 5%; }
    .userpage__row .glyphicon {
      margin: 0 0.5em; }
    .userpage__row__label {
      display: inline;
      font-weight: bold;
      margin-right: 1em; }
    .userpage__row__content {
      display: inline; }
    .userpage__row__table {
      display: table;
      border: 1px solid black;
      border-collapse: collapse; }
      .userpage__row__table__row {
        border: 1px solid black;
        display: table-row; }
        .userpage__row__table__row_header {
          font-weight: bold; }
        .userpage__row__table__row__col {
          padding: 2px;
          border: 1px solid black;
          display: table-cell; }

/*** Userpanel ***/
.userpanel {
  position: relative;
  height: 60px;
  background-color: #EDE0C9;
  vertical-align: middle;
  border-bottom: 1px solid #666666;
  border-radius: 2px; }
  .userpanel__userinfo {
    position: absolute;
    padding-left: 1%;
    top: 15%;
    bottom: 0; }
  .userpanel__main {
    position: absolute;
    text-align: center;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0; }
  .userpanel__btns {
    position: absolute;
    top: 15%;
    right: 2%;
    bottom: 0; }
  .userpanel a {
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: #666666;
    text-decoration: none;
    cursor: pointer; }
    .userpanel a:hover {
      color: RGB(203, 76, 87); }

.scoreboard {
  marign: 15px auto; }
  .scoreboard__table {
    margin: 15px auto;
    border: 3px solid #EDE0C9;
    border-radius: 8px; }
    .scoreboard__table td {
      padding: 5px; }

/*# sourceMappingURL=make.css.map */
