/*** Game ***/

@import 'global_variables.scss';

$cellsize: 85px;
$cellpadding: 10px;
$rowcount: 10;
$colcount: 10;

.game {
  margin: 0 auto;
  width: ($cellsize+$cellpadding*2)*$colcount;
  height: ($cellsize+$cellpadding)*$rowcount;
  background-color: $color-lightest;

  &__row {
    margin: $cellpadding $cellpadding 0 0;
    height: $cellsize;

    &__circle {
      display: inline-block;
      margin: 0 0 0 $cellpadding;
      height: $cellsize;
      width: $cellsize;
      border-radius: 50%;

      &_unselected {
        background: $color-light;
      }

      &_first {
        background: $color-first;
      }

      &_second {
        background: $color-second;
      }
    }
  }
}
